// --minWidth: 640px;
// --bp1Width: 880px;
// --maxWidth: 1260px;
// Default

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: black;
}

body {
	background-color: var(--bg_color);
	color: var(--text_color);
	transition: color .6s, background-color .6s;

	font-family: var(--font_family);
	line-height: var(--base-line-height);

	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.post_content {
	margin-bottom: calc(var(--space)*2);

	.g-image {
		border-radius: 5px;
	}
}
