.post_grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	overflow: hidden;

	> * {
		display: block;
		max-width: 100%;
		@media screen and (min-width: 880px) {
			max-width: calc(50% - 10px);
		}
		@media screen and (min-width: 1260px) {
			max-width: calc(33.33% - 10px);
		}
	}
}

.card {
	text-decoration: none;
	position: relative;
	background-color: var(--bg_content_color);
	-webkit-box-shadow: var(--card_shadow);
	box-shadow: var(--card_shadow);
	transition: var(--transition_shadow);
	border: 1px solid var(--border_color);
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: var(--space);

	.card_post_image {
		position: relative;
		width: 100%;
		color: var(--transparent_grey);
		transition: transform .25s ease-in-out;
		transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
		max-height: 60vw;
		@media screen and (min-width: 880px) {
			max-height: 30vw;
		}
		@media screen and (min-width: 1260px) {
			max-height: 20vw;
		}
	}

	&:focus,
	&:hover {
		-webkit-box-shadow: var(--card_shadow--hover);
		box-shadow: var(--card_shadow--hover);

		.card_post_image {
			-webkit-transform: scale(1.05);
			transform: scale(1.05);
		}
	}

	&:active {
		-webkit-transform: translateY(0.25em);
		transform: translateY(0.25em);
	}

	h1,
	h3 {
		text-transform: uppercase;
	}

	.post_date,
	.post_tags {
		display: none;
	}
}

.card_post_text {
	padding: 0 var(--space--small);
	margin-top: -10px;
	margin-bottom: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& > * + * {
		margin-top: calc(var(--space--small)/2);
	}
}

.card_post_text_content {
	margin-top: calc(var(--space)/2);
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	//flex-grow: 1;
	color: var(--title_color);
}

.clipped {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 88%);
	clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 88%);
}
