// Used to wrap content inside a nice box.

.content-box {
	// background-color: var(--bg-content-color);
	max-width: var(--content-width);
	margin: 0 auto;
	transition: background-color .6s;
	padding: var(--space);
	border-radius: var(--radius);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
	transition: transform .3s, background-color .3s, box-shadow .6s;
}

.container {
	padding: calc(var(--space-small)*1.5);
	max-width: 100%;
	@media screen and (max-width: var(--minWidth)) {
		padding: var(--space);
	}
	@media screen and (max-width: var(--bp1Width)) {
		max-width: calc(var(--bp1Width)*1.15);
		margin: 0 auto;
	}
	@media screen and (max-width: var(--maxWidth)) {
		max-width: calc(var(--bp1Width)*1.15);
		margin: 0 auto;
	}

	&.small {
		@media screen and (max-width: var(--bp1Width)) {
			max-width: var(--bp1Width);
		}
	}
}
