// Used to wrap content inside a nice box.

.content_box {
	max-width: var(--content_width);
	margin: 0 auto;
	transition: background-color .6s;
	border-radius: var(--radius);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
	transition: transform .3s, background-color .3s, box-shadow .6s;
}

.container {
	padding: var(--space-1) 0;
	width: 90vw;
	margin: 0 auto;

	@media screen and (min-width: 640px) {
		padding: var(--space-1);
		//width: 85vw;
	}
	@media screen and (min-width: 880px) {
		width: calc(var(--content_width)*1.25);
		margin: 0 auto;
		//width: 80vw;
	}
	@media screen and (min-width: 1260px) {
		width: calc(var(--content_width)*1.5);
		margin: 0 auto;
		//width: 75vw;
	}

	&--tag_cloud {
		background-color: var(--brand_color);
		color: var(--black);
	}

	&.small {
		@media screen and (min-width: 880px) {
			max-width: 880px;
		}
	}
}
