a {
	color: var(--link_color);
	text-decoration: none;
	// margin-bottom: 3px;
	display: inline-block;
	border-bottom: 1px solid transparent;

	&:hover {
		text-decoration: none;
		border-bottom: 1px solid currentColor;
	}
}

a:not(.button),
a:not(.card),
a:not(.card.vertical_spacing),
a:not(.logo_wrapper),
a:not(.post_tag_link) {
	color: var(--link_color);
	text-decoration: none;
	border-bottom: 1px solid transparent;

}

a:visited {
	color: var(--link_color_hover);

	&:hover {
		//color: var(--link_color_hover);
		border-bottom: 1px solid var(--link_color_hover);
	}
}
