.main .pagination_block {
  //nav
  padding: 4rem 0;
  position: relative;
  z-index: 10;

  a {
    text-decoration: none;
    margin: 3px 5px;
    padding: 5px 8px;
    font-size: 110%;
    border-radius: 3px;

    [data-theme="light"] & {
      color: var(--black);
      border: 3px solid var(--black);
    }

    [data-theme="dark"] & {
      color: var(--link_color);
      border: 3px solid var(--link_color);
    }

    &[aria-label*="first"],
    &[aria-label*="last"],
    &[aria-label*="next"],
    &[aria-label*="previous"] {
      border-color: transparent!important;
      background-color: transparent!important;
      font-size: 167.5%;

      &:hover {
        color: var(--link_color);
      }
    }

    &.active,
    &:hover {
      background-color: var(--tag_page_bg_color);

      &:first-child {
        //border-color: var(--link_color);
        //color: var(--link_color);
        background-color: transparent;
      }

      &:last-child {
        border-color: var(--link_color);
        //color: var(--link_color);
        background-color: transparent;
      }
    }
    @media screen and (min-width: 640px) {
      font-size: 125%;
      margin: 6px 10px;
      padding: 10px;
    }
  }
}
@keyframes pulse {
  10% {
    transform: scale(1.2);
  }
}
