.pagination_block {
  padding: 2rem;
  margin-bottom: 2rem;

  a {
    border: 1px solid var(--link_color);
    text-decoration: none;
    margin: 3px 5px;
    padding: 5px 8px;
    font-size: 110%;
    border-radius: 3px;

    &[aria-label*="first"],
    &[aria-label*="last"],
    &[aria-label*="next"],
    &[aria-label*="previous"] {
      border: 0 none;
      font-size: 150%;
    }

    &.active {
      font-size: 165%;

      &:first-child {
        border: 1px solid var(--link_color);
      }

      &:last-child {
        border: 1px solid var(--link_color);
      }
    }
    @media screen and (min-width: 640px) {
      font-size: 125%;
      margin: 6px 10px;
      padding: 10px;
    }
  }
}
