.posts {
	padding: 10px;
}

.post {
	&_horizontal_spacing {
		padding: 0 5px;
		margin-left: var(--space-1);
		margin-right: var(--space-1);

		@media screen and (min-width: 881px) {
			max-width: 880px;
			margin-left: auto;
			margin-right: auto;
		}

		h2,
		h3 {
			color: var(--title_color);
			border-bottom: 1px solid var(--border_color);
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}

	&_cover_image {
		padding: 0;
		margin: 0;
		@media screen and (min-width: 1500px) {
			border-radius: 5px 5px 0 0;
		}
	}

	&_title {
		padding: var(--space-1) 0;
		text-align: center;
	}

	&_header {
		width: 100%;

		img {
			width: 100%;
		}

		&:empty {
			display: none;
		}
	}

	&_content {
		ol,
		p,
		ul {
			max-width: 600px;
			margin: 0 0 0 auto;
		}

		ol,
		ul {
			padding-left: 20px;
		}

		blockquote p {
			max-width: none;

			em {
				font-size: .75rem;
				padding-top: .5rem;
				display: block;
			}
		}

		img {
			display: block;
		}
	}
}

.post_image .category {
	margin-top: -8px;
	padding-top: 3px;
	padding-bottom: 2px;
	text-align: right;
	padding-right: var(--space-1);
	background-color: var(--category_03);
	color: var(--black);
	text-transform: uppercase;
	@media screen and (min-width: 1500px) {
		border-radius: 0 0 5px 5px;
	}

}

.category {
	color: var(--black);

	.services & {
		background-color: var(--category_01);
	}

	.products & {
		background-color: var(--category_02);
	}

	.techniques & {
		background-color: var(--category_03);
	}

	.solutions & {
		background-color: var(--category_04);
	}

	.know & {
		background-color: var(--category_05);
	}

	.health & {
		background-color: var(--category_06);
	}

	.resources & {
		background-color: var(--category_07);
	}

}

.links_list {
	padding-bottom: var(--space-2);
}