.small_icon {
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	margin-right: 10px;
	align-self: flex-start;

	.post_date & {}
}

.qr_box svg {
	width: 150px;
	height: 150px;
	fill: #7f0;
	position: relative;
	left: -8px;
}
