.links_list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.tag_cloud.container {
	max-width: none;
	border-top: 1px solid var(--black);
	background-color: var(--tag_page_bg_color);

	[data-theme="dark"] & {
		background-color: transparent;
		border-top: 1px solid var(--brand_color--dark);
		border-bottom: 1px solid var(--brand_color--dark);
	}

}

.tag_link {
	//a
	//.tag_title
	padding: 5px;
	margin: 0 2px;
	text-decoration: none;
	color: var(--link_color);
}
