.text-center {
	text-align: center;
}

.space-bottom {
	margin-bottom: var(--space);
}

.border_top {
	border-top: 1px solid var(--border-color);
}

.border_bottom {
	border-bottom: 1px solid var(--border-color);
}

.show_on_phones {
	@media screen and (min-width: 640px) {
		display: none!important;
	}
}
