.center {
	text-align: center;
}

.margin_top {
	margin-top: var(--space);
}

.margin_bottom {
	margin-bottom: var(--space);
}

.border_top {
	border-top: 1px solid var(--border_color);
}

.border_bottom {
	border-bottom: 1px solid var(--border_color);
}

.show_on_phones {
	@media screen and (min-width: 640px) {
		display: none!important;
	}
}

.inline {
	display: inline;
}

.inline_block {
	display: inline-block;
}
