// BREAK-POINTS - NOT WORKING AS VAR(--MINWIDTH) IN MEDIA QUERIES!
// --minWidth: 640px;
// --bp1Width: 880px;
// --maxWidth: 1260px;

// Default variables
html {
	// fonts sizes
	--font_family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	--base_font_size: 20px;
	--base-line-height: 1.4446;
	// all headings are derived from:
	--heading1: 1.7rem;
}

// Light default theme
body {
	//spaces
	--space: 2rem;
	--space--small: 1rem;

	//gridsome theme block sizes
	--content_width: 860px;
	--header_height: 80px;

	//mix
	--radius: 5px;

	//all svg icons are square:
	--icon_size: 30px;

	//shadows
	--top_shadow: 0 -2px 4px 0 rgba(0,0,0,0.1), 0 -4px 10px 0 rgba(0,0,0,0.2);
	--bottom_shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
	--card_shadow: 1px 1px 2px 0 rgba(0,0,0,0.1), 2px 2px 3px 0 rgba(0,0,0,0.2);
	--card_shadow--hover: 4px 4px 8px 0 rgba(0,0,0,0.1), 8px 8px 8px 0 rgba(0,0,0,0.2);

	--transition_shadow: box-shadow .2s ease;

	// categories colors
	--category_01: hsla(40, 64%, 75%, 1); //services rgba(242, 208, 140, 1)
	--category_02: hsla(60, 64%, 65%, 1); //products rgba(237, 237, 94, 1)
	--category_03: hsla(90, 64%, 75%, 1); //techniques rgba(191, 242, 140,1)
	--category_04: hsla(110, 64%, 70%, 1); //solutions rgba(138, 240, 117, 1)
	--category_05: hsla(110, 64%, 50%, 1); //know rgba(77, 204, 51, 1)
	--category_06: hsla(200, 64%, 70%, 1); //health rgba(117, 199, 240, 1)
	--category_07: hsla(200, 64%, 30%, 1); //resources rgba(15, 97, 138, 1)

	//base colors
	--black: #000;
	--black--soft: #161616;
	--grey: hsl(0,0%,45%);
	--grey--light: hsl(0,0%,85%);
	--transparent_grey: hsla(0,0%,0%,.65);

	// - BRAND COLOR
	--brand_color: hsla(100, 88%, 64%, 1);
	--brand_color--hex: #88f452;
	--brand_color--dark: hsla(100, 88%, 28%, 1);

	// - COLOR THAT CHANGE IN DARK MODULE
	--bg_color: hsla(100, 88%, 88%, 1);
	--bg_content_color: #fff;
	--border_color: rgba(0,0,0,0.35);
	--text_color: #444;
	--title_color: #111;
	--link_color: hsla(100, 88%, 14%, 1);
	--link_color_hover: hsla(100, 88%, 28%, 1);
	--tag_page_bg_color: hsla(93, 93%, 69%, 1);
}

// - OVERRIDE VARIABLES FOR DARK THEME
body[data-theme="dark"] {
	--bg_color: #000;
	--bg_content_color: #161616;
	--border_color: rgba(255,255,255,0.35);
	--text_color: #ced8de;
	--title_color: #fff;
	--link_color: hsla(100, 88%, 64%, 1);
	--link_color_hover: hsla(100, 88%, 28%, 1);
	--tag_page_bg_color: hsla(100, 100%, 12%, 1);
}

// MAKE  THINGS SMALLER FOR MOBILE
@media screen and (max-width: 640px) {
	html {
		--base_font_size: 18px;
	}

	body {
		--space: 1rem;
		--header_height: 60px;
	}
}
